
*{
  -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
  -webkit-user-select:none; /*webkit浏览器*/
  -khtml-user-select:none; /*早期浏览器*/
  -moz-user-select:none; /*火狐*/
  -ms-user-select:none;  /*IE10*/
  user-select:none;
}
img{
	pointer-events: none;
}
#app{
    height:100%;
    width:100%;
    position:relative;
}
.swiper-container{
    height:100%;
    width:100%;
}
.swiper-slide{
    background-image: url("../image/e_bg.png");
}
.textColor{
    color:#00b2be;
}
.first,.second,.third,.four,.five,.six,.seven{
    position:relative;
}
.first .bg_bone{
    position: absolute;
    width: 1.2rem;
    height:2.97rem;
    bottom:0;
    right:0;
    z-index: 0;
}
.bg_bone img{
    width:100%;
}
.first div{
    width:100%;
    text-align: center;
}
.firstHeader{
    margin-top: 0.62rem;
}
.firstHeader h2{
    font-weight: normal;
    margin-top: 0.04rem;
}
.firstHeader img{
    width:2.5rem;
    margin-top: 0.2rem;
}
.firstMid{
    margin:1.33rem 0 0 0.35rem;
    text-align: left !important;
}
.firstMid p{
    line-height: 0.34rem;
}
.firstMid p:nth-of-type(1){
    color:#00b2be;
    font-size: 0.24rem;
    letter-spacing: 0.1rem;
}
.firstMid p:nth-of-type(2){
    font-size: 0.18rem;
    letter-spacing: 0.08rem;
}
.firstMid span{
    color:#00b2be;
}
.firstBottom{
    position:absolute;
    bottom:0.6rem;
}
.second .bg_bone img{
    position: absolute;
    width: 3.75rem;
    /* height:2.58rem; */
    bottom:0;
}
.secondHeader{
    margin-top: 0.44rem;
    text-align: center;
    height:1.4rem;
}
.secondHeader img:nth-of-type(1){
    width:2rem;
}
.secondHeader img:nth-of-type(2){
    width:0.27rem;
    position: absolute;
    left:0.18rem;
    top:0.6rem;
}
.secondHeader img:nth-of-type(3){
    width:0.27rem;
    position: absolute;
    right:0.29rem;
    top:1.58rem;
}
.secondMid{
    text-align: right;
    font-size: 0.16rem;
    line-height: 0.3rem;
    position: absolute;
    top:1.8rem;
    right: 0.3rem;
    letter-spacing: 0.01rem;
}

.secondBottom{
    text-align: right;
    font-size: 0.16rem;
    line-height: 0.3rem;
    position: absolute;
    top:3rem;
    right: 0.3rem;
    letter-spacing: 0.01rem;
}

.third .bg_bone img{
    position: absolute;
    width: auto;
    height:100%;
    bottom:0;
    left:0;
}
.thirdHeader{
    margin-top: 0.44rem;
    text-align: center;
    height:2.16rem;
}
.thirdHeader img,.fourHeader img,.fiveHeader img,.sixHeader img,.sevenHeader img{
    width:2rem;
}
.third .thirdMid,.third .thirdBottom{
   text-align: right;
   font-size: 0.16rem;
   line-height: 0.3rem;
   position: absolute;
   top:2.1rem;
   right: 0.3rem;
   letter-spacing: 0.01rem;
}
.third .thirdBottom{
    top:3rem;
}
.subList li{
    color:#00b2be;
}
.four{
    text-align: center;
}
.four .bg_bone img{
    position: absolute;
    width: 3.35rem;
    height:auto;
    bottom:0.8rem;
    left:0.3rem;
}
.four .ball1,.four .ball2{
    width:0.4rem;
    position:absolute;
}
.four .ball1{
    left:0.13rem;
    top:1.18rem;
}
.four .ball2{
    right:0.17rem;
    top:4.62rem;
    transform: rotateY(180deg);
}
.fourHeader{
    margin-top: 0.44rem;
    text-align: center;
    height:1.83rem;
}
.fourMid{
    text-align: center;
    font-size: 0.16rem;
    line-height: 0.3rem;
    position: absolute;
    top:1.9rem;
    letter-spacing: 0.01rem;
	width: 100%;
    z-index: 2;
}
.fourBottom{
    text-align: center;
    font-size: 0.16rem;
	width: 100%;
    line-height: 0.3rem;
    position: absolute;
    top:3rem;
    letter-spacing: 0.01rem;
}

.fiveHeader{
    margin-top: 0.8rem;
    text-align: center;
    height:1.3rem;
}
.five .bg_bone{
    position: absolute;
    width: 3.75rem;
    height:1.95rem;
    top:0;
    right:0;
    z-index: 1;
}
.five .bg_bone1{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.fiveMid{
   text-align: center;
   font-size: 0.16rem;
   line-height: 0.3rem;
   position: absolute;
   top:1.9rem;
   left: 50%;
   transform: translateX(-50%);
   letter-spacing: 0.01rem;
   white-space: nowrap;
   z-index: 2;
}
.five .people{
    width: 100%;
    position: absolute;
    bottom: 0;

}
.six .bg_bone{
    position: absolute;
    width: 3.49rem;
    height:5.81rem;
    bottom:0;
    right:0;
    z-index: 0;
}
.sixHeader{
    margin-top: 0.44rem;
    text-align: center;
    height:2.17rem;
}
.sixMid{
   text-align:left;
   font-size: 0.16rem;
   line-height: 0.3rem;
   position: absolute;
   top:2.1rem;
   left: 0.25rem;
   letter-spacing: 0.01rem;
}

.seven{
    text-align: center;
}
.sevenHeader{
    margin-top: 0.44rem;
    text-align: center;
    height:1.2rem;
}
.sevenMid{
    text-align: center;
}
.sevenMid p{
    line-height: 0.3rem;
    font-size: 0.16rem;
    letter-spacing: 0.03rem;
}
.sevenMid h3{
    font-weight: normal;
    line-height: 0.4rem;
    font-size: 0.26rem;
    letter-spacing: 0.05rem;
}
.sevenBottom{
    margin-top: 0.5rem;
}
.sevenBottom img{
    width:2.75rem;
}
.sevenBottom button{
    width:2.08rem;
    height:0.39rem;
    background-color: #f6d15f;
    border-radius: 0.25rem;
    font-size: 0.14rem;
    position:absolute;
    bottom:1rem;
    left:50%;
    transform: translateX(-50%);
}
.bottomCode img{
    width:0.56rem;
    height:0.56rem;
}
.bottomCode{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:0.66rem;
    background-color:rgba(161,222,226,0.76);
    text-align: left;
}
.bottomCode div:nth-of-type(2){
    width:0.56rem;
    height:0.56rem;
}
.bottomText{
    margin-left: 0.15rem;
    width:65%;
}
.bottomText p{
    line-height: 0.24rem;
}
.bottomText .textRight{
    text-align: right;
}
.bottomCode .lineMore p{
    line-height: normal;
}
.arrow{
    position:absolute;
    left:50%;
    bottom:.5rem;
    margin-left:-.08rem;
    z-index: 100;
    width:.17rem;
    height:.18rem;
    background:url("../image/e_up.png");
    background-size: 100% 100%;
    opacity:1;
    animation: arrowFlash 1s linear 0s infinite;
    -webkit-animation: arrowFlash 1s linear 0s infinite;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
@keyframes arrowFlash {
    0%,100%{
        opacity:1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    50%{
        opacity:0.1;
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
    }
}
@-webkit-keyframes arrowFlash {
    0%,100%{
        opacity:1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    50%{
        opacity:0.1;
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
    }
}
.other{
    width:100%;
    height:100%;
    background-image: url("../image/e_bg.png");
    position:relative;
    padding-top: 3.5rem;
    text-align: center;
    font-size:0.16rem ;
}
.otherImg{
    width: 1.81rem;
    height:2.88rem;
    position: absolute;
    top: 1.15rem;
    left:0.7rem;
}
.otherImg img{
    width:100%;
}
.otherMid{
    line-height: 0.35rem;
    letter-spacing: 0.02rem;
}
.otherMid p:nth-of-type(1){
    line-height: 1rem;
}
.loading {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, .4);
    height: 100%;
    width: 100%;
    z-index: 4;
    text-align: right;
}
.IOSimg{
    width:3.21rem;
    height:2.88rem;
}
.Androidimg{
    width:3.22rem;
    height:1.96rem;
}
/* @supports (bottom: env(safe-area-inset-bottom)){
    body,
    .footer{
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }
} */
