html,body{
    height:100%;
    width:100%;
}
html {
    font-size: 100px;
    height:100%;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin:0; padding:0;
}
ul{ list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
body {
    font-size: 0.14rem;
    background-size: 100%;
    margin: 0;
    height:100%;
}

button {
    outline: none;
    border: none;
}

input {
    border: none;
    outline: none;
}

ul,
li {
    list-style: none;
}

